@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;
$back-icon-size: 16px;

.header {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  padding: $header-padding-y 16px;
  font-weight: bold;

  a {
    color :white;
  }

  &_logos {
    min-width: 0;
    display: flex;
  }

  &_pageTitle {
    color: white;
    line-height: $avatar-size;
    font-size: $font-lg;
  }

  &_avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
  }
}
